@import '../commonTemplate.css';
#welcome {
  display: grid;
  justify-content: center;
  row-gap: 35px;
}
#navigate {
    display: grid;
    justify-items: center;
    grid-auto-flow: column;
    column-gap: 35px;
}
  .link {
      color: var(--midnight);
      background-color: var(--stoneBlue);
      border-radius: 10px;
      border: none;
      padding: 15px;
      filter: drop-shadow(1px 1px 2px var(--midnight));
  }
  .link:hover {
      background-color: var(--peacockBlue);
      color: var(--paleBlue);
  }

  @media screen and (max-width: 480px) {
    #navigate {
      grid-auto-flow: row;
      column-gap: 0px;
      row-gap: 15px;
    }
    .link {width: 100%; text-align: center;}
  }
