<!-- <script src="app/work-orders/work-orders-script.js" type="text/javascript" defer></script> -->
<section class="parent-container">
  <div id="work-orders">
    <h1>Work Orders</h1>

    <!-- action row for user input -->
    <div id="actions">
      <div id="user-action">
        <div class="user-interactive">
          <select class="action-buttons" id="filter" name="filter">
            <option value="none" selected disabled hidden>Status Filter</option>
            <option value="" (click)="getAllWorkOrders()">All</option>
            <option *ngFor="let status of statuses" value="{{status}}" (click)="getFilteredWorkOrders(status)">{{status}}</option>
          </select>
        </div>

        <div class="user-interactive">
          <button class="action-buttons" id="add-new" type="button" onclick="openOrderForm()">Add New</button>
          <div id="modal">
            <!-- try onfocus set [contactName].addAttribute("autofocus") and onblur set [contactName].removeAttribute("autofocus") -->
            <h1>Create a New Work Order</h1>

            <form>
              <div class="input-field text">
                <label for="contactName">Name: </label>
                <input type="text" name="contactName" id="contactName" autofocus><!-- [(ngModel)]="newOrder.contactName" -->
              </div>

              <div class="input-field text">
                <label for="email">Email: </label>
                <input type="text" name="email" id="email"> <!-- [(ngModel)]="newOrder.email" -->
              </div>

              <div class="input-field text">
                <label for="contactNumber">Phone Number: </label>
                <input type="text" name="contactNumber" id="contactNumber"> <!-- [(ngModel)]="newOrder.contactNumber" -->
              </div>

              <div class="input-field drop-down">
                <label for="technicians">Technician: </label>
                <select name="technicians" id="technicians">
                  <!-- [(ngModel)]="newOrder.technicianId" -->

                  <option value="default" disabled selected hidden>None selected</option>
                  <option *ngFor="let tech of technicians" value="{{tech.technicianId}}">{{tech.technicianName}}</option>
                </select>
              </div>

              <div class="input-field message">
                <label for="problem">Problem: </label>
                <textarea name="problem" id="problem" rows="7" cols="35"></textarea> <!-- [(ngModel)]="newOrder.problem" -->
              </div>

              <div id="form-btns">
                <input class="action-buttons" id="cancel-btn" type="reset" value="Cancel" onclick="closeOrderForm()">
                <button class="action-buttons" type="submit" (click)=null>Create</button> <!-- verify that the default tech value isn't selected before submission else throw error -->
              </div>

            </form>
          </div>


        </div>
      </div>
    </div>

    <!-- work order table to store database info -->
    <div id="orders">
      <table *ngIf="workOrders">
        <tr id="table-header">
          <th>W.O. Number</th>
          <th>Date Received</th>
          <th>Contact Name</th>
          <th>Contact Number</th>
          <th>Email</th>
          <th>Date Assigned</th>
          <th>Technician ID</th>
          <th>Status</th>
          <th>Problem</th>
          <th>Technician Comments</th>
          <th>Date Complete</th>
        </tr>

        <!-- iterable record format -->
        <tr *ngFor="let workOrder of workOrders">
          <td><a routerLink="/orders/order/{{workOrder.woNum}}">{{workOrder.woNum}}</a></td>
          <td>{{workOrder.dateReceived | date: 'shortDate'}}</td>
          <td>{{workOrder.contactName}}</td>
          <td>{{workOrder.contactNumber}}</td>
          <td>{{workOrder.email}}</td>
          <td>{{workOrder.dateAssigned | date: 'shortDate'}}</td>
          <td><a routerLink="/techs/tech/{{workOrder.technicianId}}">{{workOrder.technicianId}}</a></td>
          <td>{{workOrder.status}}</td>
          <td>{{workOrder.problem}}</td>
          <td>{{workOrder.techComments}}</td>
          <td>{{workOrder.dateComplete | date: 'shortDate'}}</td>
        </tr>
      </table>

      <div *ngIf="!workOrders" id="errorMsg">
        <p>There are no work orders available at this time</p>
      </div>
    </div>
  </div>
</section>
