@import '../commonTemplate.css';
@charset 'utf-8';
/*GENERAL STYLES*/
h1, th, td {text-align: center;}

/**Grid Styles*/
#actions, #user-action, .user-interactive, #modal, form, #form-btns, .input-field {display: grid;}

/* button styles */
#user-action {
    margin: 0px 15px;
    justify-content: space-around;
    grid-auto-flow: column;
}
.action-buttons {
  border: none;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 2px var(--midnight));
  background-color: var(--powderBlue);
  color: var(--peacockBlue);
  font: normal 36px / 1.1em Lucida, san-serif;
  text-align: center;
  padding: 15px;
}
  .action-buttons:hover {
    background-color: var(--spruceBlue);
    color: var(--powderBlue);
  }
  .action-buttons:focus {
      background-color: var(--peacockBlue);
      color: var(--powderBlue);
  }
  .action-buttons:focus:hover {color: var(--paleBlue); text-decoration: underline;}
  #add-new {float: right;}


/* modal style*/
#modal {
  width: fit-content;
  height: 100%;
  overflow: auto;
  background-color: aliceblue;
  filter: drop-shadow(0px 0px 10px #000);
  position: fixed;
  border-radius: 10px;
  padding: 50px;
  row-gap: 15px;
  display: none; 
  z-index: 25;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
}
/* alignment hack modified from: https://stackoverflow.com/questions/39627549/how-to-center-modal-to-the-center-of-screen*/
  form {row-gap: 25px;}
  #form-btns {
      justify-content: right;
      column-gap: 25px;
      grid-auto-flow:column;
  }
  .input-field label{ font-weight: bold; }
  .input-field > * {width: 100%;}
  #form-btns > * {width: fit-content;}
    #cancel {background-color: var(--paleBlue);}

/* work order table styles */
#orders {
  overflow: auto;
  height: 250px;
} /* styles the container holding the work order table */
table {
  border: 1px solid #000;
  border-collapse: collapse;
}
#table-header {
  font: normal 18pt / 1.15em "Baskerville Old Face", serif;
  position: sticky;
  top: 0px;
  box-shadow: 0px 1px 2px var(--lakeBlue);
}
th, td {border: 1px solid #000;}
th {background-color: var(--stoneBlue);}
td {background-color: var(--paleBlue);}
  td a {color: blue;}


/* MOBILE STYLES*/
@media screen and (max-width: 480px) {
    .action-buttons {font-size: 16px;}
}

/* TABLET STYLES*/
@media screen and (min-width: 481px) and (max-width: 780px) {
    .action-buttons {font-size: 20px;}
    #work-orders {row-gap: 50px;}
}
