/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
/* DELTE ME AFTER PROJECT IS BUILT*/
html, body, app-root {
  min-height: 100vh;
}

body {
  margin: 0;
}

app-root {
  display: grid;
  grid-template-rows: 50px auto 200px;
  justify-content: center;
}
