<section>
  <div id="technicians">
    <h1>Meet Our Techs</h1>

    <div id="tech-list" *ngIf="technicians">
      <!-- iterable tech card template -->
      <div *ngFor="let tech in technicians">
        <div>
          <div class="tech-card" (click)='id=tech.id; techDetail(id)'>
            <div class="tech-name"><p>{{tech.name}}</p></div>

            <table class="tech-info">
              <tr><th>ID No.</th><td>{{tech.id}}</td></tr>
              <tr><th>Email: </th><td><a href='mailto:$tech.email'>{{tech.email}}</a></td></tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!technicians" id="errorMsg">
      <p>No technicians were found. Please try again later.</p>
    </div>
  </div>
</section>
