<section class="parent-container">
  <div id="technicians">
    <h1>Meet Our Techs</h1>

    <div id="tech-list">
      <!-- iterable tech card template -->
      <div id="techs" *ngIf="technicians">
        <div *ngFor="let tech of technicians">
          <section class="tech-card" (click)="techDetail(tech.technicianId)">
            <div class="tech-name"><p>{{tech.technicianName}}</p></div>

            <table class="tech-info">
              <tr><th>ID No.:</th><td>{{tech.technicianId}}</td></tr>
              <tr><th>Email:</th><td><a href='mailto:{{tech.technicianEmail}}'>{{tech.technicianEmail}}</a></td></tr>
            </table>
          </section>
        </div>
      </div>
    </div>

    <div *ngIf="!technicians" id="errorMsg">
      <p>No technicians were found. Please try again later.</p>
    </div>
  </div>
</section>
