@import '../commonTemplate.css';
@charset 'utf8';
/* GENERAL STYLES */
h1, .tech-name {text-align: center;}
a {text-decoration: none;}

/* grid styles */
#tech-list, .tech-card, .tech-name {display: grid;}

#tech-list {
    grid-template-columns: repeat(auto-fit, 350px);
    row-gap: 30px;
    column-gap: 15px;
    justify-content: center;
}

/* tech contact card styles */
.tech-card {
  grid-template-columns: 30% 70%;
  width: 350px;
  align-content: center;
  border-radius: 25px;
  filter: drop-shadow(1px 1px 3px #000);
  text-decoration: none;
  color: black;
} /* creates the contact card look */
.tech-card:hover {cursor: pointer;}
.tech-name {
  align-content: center;
  font-weight: bold;
  background-color: #ccc;
  word-wrap: break-word;
  border-radius: 10px 0px 0px 10px;
}
.tech-name p {margin: 0px;}
.tech-info {
  background-color: #aaa;
  border-radius: 0px 10px 10px 0px;
}
  .tech-info a {
    color: blue;
    text-decoration: underline;
  }

/* MOBILE STYLES */
@media screen and (max-width: 480px) {
   /* tech contact card styles */
  .tech-card {
      grid-template-columns: max-content;
      grid-auto-flow: row;
      width: 50%;
  }
  .tech-name { border-radius: 10px 10px 0px 0px;}
    .tech-name p {padding: 5px 0px;}
  .tech-info {border-radius: 0px 0px 10px 10px;}
    .tech-info td {text-align: center;}
    #tech-list {grid-template-columns: 100%;}
}
