<section class="parent-container" *ngIf="workOrder">
  <a id="nav-back" href="javascript:history.back()">Go Back</a>
  <h1>Work Order {{workOrder.woNum}}</h1>

  <div id="workOrder">
    <div class="wo-details" id="overview">
      <h2>Overview</h2>

      <ul>
        <li>Date Received: {{workOrder.dateReceived | date: 'shortDate'}}</li>
        <li>Date Assigned: {{workOrder.dateAssigned | date: 'shortDate'}}</li>
        <li>Status: {{workOrder.status}}</li>
        <li id="tech-info">Tech ID: <a routerLink="/techs/tech/{{workOrder.technicianId}}">{{workOrder.technicianId}}</a>
          <div *ngIf="technician" id="tech-tooltip">
            <h4>Tech ID#: {{workOrder.technicianId}}</h4>
            <ul>
              <li><h1 id="tech-name">{{technician.technicianName}}</h1></li>
              <li><a href="mailto:{{technician.technicianEmail}}">{{technician.technicianEmail}}</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="wo-details" id="contact-info">
      <h2>Contact Info</h2>

      <ul>
        <li>Name: {{workOrder.contactName}}</li>
        <li>Phone Number: {{workOrder.contactNumber}}</li>
        <li>Email: {{workOrder.email}}</li>
      </ul>
    </div>

    <div class="wo-details" id="more-info">
      <h2>More Info</h2>
      <h3>Problem</h3>
      <p>{{workOrder.problem}}</p>

      <h3>Technician Comments</h3>
      <p>{{workOrder.techComments}}</p>

      <p id="status" *ngIf="workOrder.status=='Closed'">This work order was closed on: {{workOrder.dateComplete | date: 'shortDate'}}<p>
    </div>
  </div>
</section>
