<section class="parent-container" *ngIf="workOrder">
  <a id="nav-back" href="" (click)="goBack()">Go Back</a>
  <h1>Work Order {{workOrder.woId}}</h1>

  <div id="workOrder">
    <div class="wo-details" id="overview">
      <h2>Overview</h2>

      <ul>
        <li>Date Received: {{workOrder.dateReceived}}</li>
        <li>Date Assigned: {{workOrder.dateAssigned}}</li>
        <li>Status: {{workOrder.status}}</li>
        <li id="tech-info">Tech ID: {{workOrder.techId}}
          <div *ngIf="technician" id="tech-tooltip">
            <h4>Tech ID#: {{workOrder.techId}}</h4>
            <ul>
              <li id="tech-name"><h1>{{technician.name}}</h1></li>
              <li>{{technician.email}}</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="wo-details" id="contact-info">
      <h2>Contact Info</h2>

      <ul>
        <li>Name: {{workOrder.contactName}}</li>
        <li>Phone Number: {{workOrder.contactNumber}}</li>
        <li>Email: {{workOrder.email}}</li>
      </ul>
    </div>

    <div class="wo-details" id="more-info">
      <h2>More Info</h2>
      <h3>Problem</h3>
      <p>{{workOrder.problem}}</p>

      <h3>Technician Comments</h3>
      <p>{{workOrder.techComments}}</p>

      <p *ngIf="workOrder.status=='completed'">This work order was closed on: {{workOrder.dateComplete}}<p>
    </div>
  </div>
</section>
